{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

    <h1>
        {{ 'Bienvenue sur une super application de demo'|rainbow }}
    </h1>

    {% if app.user %}
        <p>
            Hello {{ app.user.username }}
            <a href="{{ url('logout') }}">
                Logout
            </a>
        </p>
    {% else %}
        <a href="{{ url('login') }}">
            Login
        </a>
    {% endif %}

{% endblock %}
