{% extends 'base.html.twig' %}

{% block title %}Wanna register?{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm">
            <h1>Register</h1>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn">Register</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
