{% extends 'base.html.twig' %}

{% block title %}Contact us{% endblock %}

{% block body %}
    <div class="row">
        <div class="col col-lg-6">
            <h1>Contact us</h1>
            {{ form_start(form, { attr: { novalidate: true }}) }}
                {{ form_widget(form) }}
                <button class="btn">Send</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
